.footer {
    width: 100%;
    background-color: var(--main-color);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.footer__links {
    text-decoration: none;
}

.footer__links__link {
    width: 1.5em;
}