:root {
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --cor-rosa: rgb(247, 130, 149);
    --box-shadow: 5px 5px 0px 0px var(--cor-preto);
    --border-radius: 10px;
    --font-size: 1.5rem;
}


body {
    margin: 0;
    padding: 0; 
    font-family: 'Inter', sans-serif;
    background-image: url(/Imagens/fundo-so-site.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--cor-preto);
}

h1 {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.main {
    display: flex;
    gap: 1rem;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 5%;
}

.texto1 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: var(--cor-preto);
    gap: 1rem;
    justify-content: center;
}

.textarea {
    margin-left: 45px;
    padding: 20px;
    background-color: var(--cor-branco);
    background-position: 100px;
    height: 200px;
    width: 450px;
    font-size: 1.5rem;
    border: var(--cor-branco);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-preto);
    resize: none;
    color: var(--cor-preto);
} 

.textarea::placeholder, .textarea2::placeholder {
    color: var(--cor-preto);
}

.atencao {
    margin-left: 70px;
    width: 485px;
    height: 50px;
    display: flex;
    gap: 20px;
}

.atencao_img {
    margin-top: 6px;
    margin-left: 20px;
}

.atencao_frase {
    margin-top: 14px;
    margin-right: 10px;
    font-size: 18px;
    color: var(--cor-preto);
}

.botoes {
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.encriptar {
    background-color: var(--cor-branco);
    background-position: 100px;
    color: var(--cor-preto);
    font-size: 22px;
    width: 13rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-left: 45px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-preto);
    cursor: pointer;
}

.encriptar:hover, .desencriptar:hover, .botao_copiar:hover {
    font-weight: 700;
}

.desencriptar {
    background-color: var(--cor-branco);
    background-position: 100px;
    color: var(--cor-preto);
    font-size: 22px;
    width: 15rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-left: 19px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-preto);
    cursor: pointer;
}

.seta {
    display: flex;
    vertical-align: center;
    height: 50px;
    margin-top: 8rem;
    margin-left: 2rem;
}

.texto2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--cor-preto);
    font-size: 1.5rem;
    justify-content: center;
    margin-left: 3rem;
}

.textarea2 {
    height: 250px;
    width: 450px;
    background-color: var(--cor-branco);
    background-position: 100px;
    border: var(--cor-preto);
    cursor: pointer;
    border-radius: 10px;
    color: var(--cor-preto);
    font-size: 1.5rem;
    padding: 20px;
    resize: none;
    box-shadow: 5px 5px 0px 0px var(--cor-preto);
} 

.botaocopiar {
    width: 160px;
    display: flex;
    justify-content: center;
}

.botao_copiar {
    background-color: var(--cor-branco);
    background-position: -3px;
    margin-left: 20rem;
    color: var(--cor-preto);
    font-size: 22px;
    width: 8rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-preto);
    cursor: pointer;
}

footer {
	width: 100%;
    margin-top: 5rem;
	min-height: 56px;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 1rem;
}
.criadora{
	font-size: 18px;
}

.links{
	width: 30px;
}

@media (max-width: 700px) {
    .main {
        margin-left: 5%;
        flex-direction: column;
    }

    .textarea {
        margin-left: 45px;
        padding: 10px;
        height: 200px;
        width: 300px;
        font-size: 1.2rem;
        resize: none;
    } 

    .texto2 {
        display: flex;
        justify-content: center;
    }

    .textarea2 {
        margin-left: 0px;
        height: 200px;
        width: 300px;
        font-size: 1.2rem;
    } 

    .atencao {
        margin-left: 25px;
        display: flex;
        gap: 20px;
    }

    .atencao_img {
        display: none;    
    }

    .atencao_frase {
        font-size: 14px;
        margin-left: 3rem;   
    }
    
    .seta {
        display: none;
    }

    .encriptar, .desencriptar, .botao_copiar, .textarea, .textarea2 {
        background-position: -1%;
        font-size: 0.8rem;
    }

    .encriptar, .desencriptar, .botao_copiar {
        width: 9rem;
        height: 3rem;
    }

    .botoes {
        width: 300px;
        gap: 40px;
    }

    .botaocopiar {
        width: 160px;
        display: flex;
        justify-content: right;
        padding-left: 5rem;
    }
}